h1{
    background-color: rgb(235, 173, 173) ;
    width:50%;
    font-size:26px;
    
    color:#353F89;
}
body
{
    background-color: rgba(194, 100, 100, 0.719);
}
#logo
{
   width:130px;
   
   
}
.image1
{
    width: 500px;
}
.image2
{
    width: 100px;
}






